In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv(r'C:\Users\sevva\Documents\GitHub\kira-tahmini\csv\data.csv')

In [15]:
print(df.info)

<bound method DataFrame.info of      photo-count  list-view-price list-view-date           left  \
0             12            13250     25-03-2024  Kiralık Daire
1             14            19000     27-03-2024  Kiralık Daire
2             10             5500     08-04-2024  Kiralık Daire
3             21            11000     06-04-2024  Kiralık Daire
4              9            10000     28-03-2024  Kiralık Daire
..           ...              ...            ...            ...
931           36            50000     27-01-2024  Kiralık Villa
932           46            20000     07-03-2024  Kiralık Daire
933           17            17000     11-03-2024  Kiralık Daire
934           39            15000     08-04-2024  Kiralık Daire
935           49            30000     01-03-2024  Kiralık Daire

                             celly celly 2                           celly 3  \
0     3 +                        1  140 m²  15                       Yaşında
1     3 +                        1  110 m²  25                       Yaşında
2    1 +                        15   30 m²  30                       Yaşında
3     2 +                        1  110 m²  20                       Yaşında
4     1 +                        1   60 m²                         0 Yaşında
..                             ...     ...                               ...
931   3 +                        1  150 m²                         0 Yaşında
932   2 +                        1   96 m²  40                       Yaşında
933   2 +                        1  120 m²   7                       Yaşında
934   2 +                        1   85 m²   5                       Yaşında
935   1 +                        1   72 m²   1                       Yaşında

    celly 4                                   list-view-header  \
0    3. Kat                   Kiralık Cadde Üzeri Arakat Daire
1    3. Kat  Fırsat Alsancak Pazar Sokağında Tadilatlı 3+1 ...
2    1. Kat     İzmir Selçuk 14 Mayıs Mahallesinde Kiralık Oda
3    3. Kat    Atıcı Group’dan 100 M2 Kiralık Daire Karabağlar
4    2. Kat                      Loca Yapıda 1+1 Kiralık Daire
..      ...                                                ...
931  2. Kat  Can Emlak Tan Kiralık Full Eşyalı Havuzlu Site...
932  3. Kat  Deniz Manzaralı Ful Eşyalı Demokrasi Ünüversit...
933  2. Kat  Türker Gayrimenkulden Menderes'de Cadde Üsdü E...
934  0. Kat  Can Emlak'tan Gümüldür Sahilde, Yaz Kış Eşyalı...
935  0. Kat  Çeşmede Full Deniz Manzaralı Eşyalı Kiralık Sı...

                            list-view-location  ...  \
0                      Tire, 4 Eylül Mahallesi  ...
1                    Konak, Alsancak Mahallesi  ...
2                   Selçuk, 14 Mayıs Mahallesi  ...
3                  Karabağlar, Peker Mahallesi  ...
4                Torbalı, Yedi Eylül Mahallesi  ...
..                                         ...  ...
931  Menderes, Gümüldür Fevzi Çakmak Mahallesi  ...
932            Karabağlar, Üçkuyular Mahallesi  ...
933                  Menderes, Küner Mahallesi  ...
934  Menderes, Gümüldür Fevzi Çakmak Mahallesi  ...
935               Çeşme, İsmet İnönü Mahallesi  ...

                                   he-lazy-image src 2   city    district  \
0                                                  NaN  izmir        tire
1                                                  NaN  izmir       konak
2                                                  NaN  izmir      selcuk
3    https://hecdnnw.hemlak.com/mncropresize/91/68/...  izmir  karabaglar
4                                                  NaN  izmir     torbali
..                                                 ...    ...         ...
931  https://hecdnnw.hemlak.com/mncropresize/91/68/...  izmir    menderes
932  https://hecdnnw.hemlak.com/mncropresize/91/68/...  izmir  karabaglar
933  https://hecdnnw.hemlak.com/mncropresize/91/68/...  izmir    menderes
934                                                NaN  izmir    menderes
935                                                NaN  izmir       cesme

              neighborhood room living_room  area  age  floor  price
0                  4_eylul    3           1   140   15      3  13250
1                 alsancak    3           1   110   25      3  19000
2                 14_mayis    1          15    30   30      1   5500
3                    peker    2           1   110   20      3  11000
4               yedi_eylul    1           1    60    0      2  10000
..                     ...  ...         ...   ...  ...    ...    ...
931  gumuldur_fevzi_cakmak    3           1   150    0      2  50000
932              uckuyular    2           1    96   40      3  20000
933                  kuner    2           1   120    7      2  17000
934  gumuldur_fevzi_cakmak    2           1    85    5      0  15000
935            ismet_inonu    1           1    72    1      0  30000

[936 rows x 22 columns]>

In [16]:
df['city'] = df['city'].astype('category')
df['district'] = df['district'].astype('category')
df['neighborhood'] = df['neighborhood'].astype('category')
df['room'] = df['room'].astype('int')
df['living_room'] = df['living_room'].astype('int')
df['area'] = df['area'].astype('int')
df['age'] = df['age'].astype('int')
df['floor'] = df['floor'].astype('int')
df['price'] = df['price'].astype('int')

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   photo-count          936 non-null    int64
 1   list-view-price      936 non-null    int64
 2   list-view-date       936 non-null    object
 3   left                 936 non-null    object
 4   celly                936 non-null    object
 5   celly 2              936 non-null    object
 6   celly 3              936 non-null    object
 7   celly 4              936 non-null    object
 8   list-view-header     936 non-null    object
 9   list-view-location   936 non-null    object
 10  img-wrp href         426 non-null    object
 11  he-lazy-image src    868 non-null    object
 12  he-lazy-image src 2  379 non-null    object
 13  city                 936 non-null    category
 14  district             936 non-null    category
 15  neighborhood         936 non-null    category
 16  room                 936 non-null    int32
 17  living_room          936 non-null    int32
 18  area                 936 non-null    int32
 19  age                  936 non-null    int32
 20  floor                936 non-null    int32
 21  price                936 non-null    int32
dtypes: category(3), int32(6), int64(2), object(11)
memory usage: 132.3+ KB
None

In [18]:
columns = df.select_dtypes(include=[np.number]).columns
min_values = []
max_values = []
for column in columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    min_value = Q1 - 1.5 * IQR
    max_value = Q3 + 1.5 * IQR
    min_values.append(min_value)
    max_values.append(max_value)
    print(f"Column: {column}, min: {min_value}, max: {max_value}")

Column: photo-count, min: -11.5, max: 56.5
Column: list-view-price, min: -8437.5, max: 50062.5
Column: room, min: 0.5, max: 4.5
Column: living_room, min: 1.0, max: 1.0
Column: area, min: 1.0, max: 225.0
Column: age, min: -27.5, max: 56.5
Column: floor, min: -2.0, max: 6.0
Column: price, min: -8437.5, max: 50062.5

In [19]:
for i, column in enumerate(columns):
    df = df[(df[column] >= min_values[i]) & (df[column] <= max_values[i])]

In [20]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 700 entries, 0 to 935
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   photo-count          700 non-null    int64
 1   list-view-price      700 non-null    int64
 2   list-view-date       700 non-null    object
 3   left                 700 non-null    object
 4   celly                700 non-null    object
 5   celly 2              700 non-null    object
 6   celly 3              700 non-null    object
 7   celly 4              700 non-null    object
 8   list-view-header     700 non-null    object
 9   list-view-location   700 non-null    object
 10  img-wrp href         284 non-null    object
 11  he-lazy-image src    643 non-null    object
 12  he-lazy-image src 2  254 non-null    object
 13  city                 700 non-null    category
 14  district             700 non-null    category
 15  neighborhood         700 non-null    category
 16  room                 700 non-null    int32
 17  living_room          700 non-null    int32
 18  area                 700 non-null    int32
 19  age                  700 non-null    int32
 20  floor                700 non-null    int32
 21  price                700 non-null    int32
dtypes: category(3), int32(6), int64(2), object(11)
memory usage: 107.2+ KB
None

In [21]:
print(df.describe())

       photo-count  list-view-price        room  living_room        area  \
count   700.000000       700.000000  700.000000        700.0  700.000000
mean     21.588571     17775.187143    2.247143          1.0  105.522857
std      10.007687      7958.430631    0.799002          0.0   35.865801
min       1.000000        23.000000    1.000000          1.0   25.000000
25%      14.000000     13000.000000    2.000000          1.0   80.000000
50%      20.000000     16000.000000    2.000000          1.0  100.000000
75%      28.250000     20000.000000    3.000000          1.0  130.000000
max      55.000000     50000.000000    4.000000          1.0  220.000000

              age       floor         price
count  700.000000  700.000000    700.000000
mean    15.538571    2.290000  17775.187143
std     12.019771    1.645269   7958.430631
min      0.000000   -2.000000     23.000000
25%      4.000000    1.000000  13000.000000
50%     15.000000    2.000000  16000.000000
75%     25.000000    3.000000  20000.000000
max     50.000000    6.000000  50000.000000

In [22]:
df = df[df['price'] >= 3000]

In [23]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 695 entries, 0 to 935
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   photo-count          695 non-null    int64
 1   list-view-price      695 non-null    int64
 2   list-view-date       695 non-null    object
 3   left                 695 non-null    object
 4   celly                695 non-null    object
 5   celly 2              695 non-null    object
 6   celly 3              695 non-null    object
 7   celly 4              695 non-null    object
 8   list-view-header     695 non-null    object
 9   list-view-location   695 non-null    object
 10  img-wrp href         281 non-null    object
 11  he-lazy-image src    638 non-null    object
 12  he-lazy-image src 2  251 non-null    object
 13  city                 695 non-null    category
 14  district             695 non-null    category
 15  neighborhood         695 non-null    category
 16  room                 695 non-null    int32
 17  living_room          695 non-null    int32
 18  area                 695 non-null    int32
 19  age                  695 non-null    int32
 20  floor                695 non-null    int32
 21  price                695 non-null    int32
dtypes: category(3), int32(6), int64(2), object(11)
memory usage: 106.5+ KB
None

In [24]:
print(df.describe())

       photo-count  list-view-price        room  living_room        area  \
count   695.000000       695.000000  695.000000        695.0  695.000000
mean     21.601439     17898.069065    2.253237          1.0  105.742446
std      10.000908      7853.020180    0.797538          0.0   35.872631
min       1.000000      3500.000000    1.000000          1.0   25.000000
25%      14.000000     13000.000000    2.000000          1.0   80.000000
50%      20.000000     16000.000000    2.000000          1.0  100.000000
75%      28.000000     20000.000000    3.000000          1.0  130.000000
max      55.000000     50000.000000    4.000000          1.0  220.000000

              age       floor         price
count  695.000000  695.000000    695.000000
mean    15.598561    2.296403  17898.069065
std     12.017818    1.646296   7853.020180
min      0.000000   -2.000000   3500.000000
25%      4.000000    1.000000  13000.000000
50%     15.000000    2.000000  16000.000000
75%     25.000000    3.000000  20000.000000
max     50.000000    6.000000  50000.000000

In [25]:
df.to_csv('data_cleaned.csv', index=False)